# --------- BUILD OUTPUT ---------
dist/
node_modules/
.cache/
*.log

# --------- SYSTEM FILES ---------
.DS_Store

# --------- IDE DIRECTORIES ---------
.vscode/
.idea/

# --------- ENV VARIABLES ---------
.env
.env.*.local
.env.local